<script setup lang="ts">
	import { shallowRef, computed, effect } from "vue";
	import { UndoManager } from "@kvndy/undo-manager/vue-shallow-refs";

	const undoLocalizer = (description) => {
		return "Undo " + description;
	}
	const redoLocalizer = (description) => {
		return "Redo " + description;
	}
	const { undoable, preservable, group, undo, redo, canUndo, canRedo, undoDescription, redoDescription } = new UndoManager(undoLocalizer, redoLocalizer);

	const plain = shallowRef(0);
	const setting = undoable(0, "increment undoable");
	const appearance = preservable(0);
	const incrementPlain = () => {
		console.log("increment plain:%s;",plain.value);
		plain.value = plain.value + 1;
	};
	const incrementSetting = () => {
		setting.value = setting.value + 1;
	};
	const incrementAppearance = () => {
		appearance.value = appearance.value + 1;
	};
	const incrementBoth = () => {
		group(()=> {
			incrementSetting();
			incrementAppearance();
		}, "increment both");
	}
	const sum = computed(()=> {
		return plain.value + setting.value + appearance.value;
	});
	effect(() => {
		console.log("shallow:%s;", plain.value);
	});
	effect(() => {
		console.log("undoable:%s;", setting.value);
	});
	effect(() => {
		console.log("preservable:%s;", appearance.value);
	});
	console.log("App render");
</script>

<template>
	<span>Ref: {{ plain }}</span>
	<br/>
	<span>Undoable: {{ setting.value }}</span>
	<br/>
	<span>Preservable: {{ appearance.value }}</span>
	<br/>
	<span>Sum: {{ sum }}</span>
	<br/>
	<button type="button" v-on:click="incrementPlain">Ref</button>
	<button type="button" v-on:click="incrementSetting">Undoable</button>
	<button type="button" v-on:click="incrementAppearance">Preservable</button>
	<button type="button" v-on:click="incrementBoth">Both</button>
	<button type="button" v-on:click="undo" :disabled="!canUndo" :title="undoDescription">
		Undo
	</button>
	<button type="button" v-on:click="redo" :disabled="!canRedo" :title="redoDescription">
		Redo
	</button>
</template>

<style scoped>
</style>
