<script>
	import { writable, derived, get } from "svelte/store";
	import { UndoManager } from "@kvndy/undo-manager/svelte-stores";

	const undoLocalizer = (description) => {
		return "Undo " + description;
	}
	const redoLocalizer = (description) => {
		return "Redo " + description;
	}
	const { undoable, preservable, group, undo, redo, canUndo, canRedo, undoDescription, redoDescription } = new UndoManager(undoLocalizer, redoLocalizer);

	const plain = writable(0);
	const setting = undoable(0, "increment undoable");
	const appearance = preservable(0);
	const incrementPlain = () => plain.update(prev => prev + 1);
	const incrementSetting = () => setting.update(prev => prev + 1);
	const incrementAppearance = () => appearance.update(prev => prev + 1);
	const incrementBoth = () => {
		group(() => {
			incrementSetting();
			incrementAppearance();
		}, "increment both");
	};
	const sum = derived(
		[plain, setting, appearance],
		() => $plain + $setting + $appearance
	);
	plain.subscribe((value) => {
		console.log("store:%s;",value);
	});
	setting.subscribe((value) => {
		console.log("undoable:%s;",value);
	});
	appearance.subscribe((value) => {
		console.log("preservable:%s;",value);
	});
	console.log("App render");
</script>

<main>
	<span>Store: {$plain}</span>
	<br/>
	<span>Undoable: {$setting}</span>
	<br/>
	<span>Preservable: {$appearance}</span>
	<br/>
	<span>Sum: {$sum}</span>
	<br/>
	<button type="button" on:click={incrementPlain}>Store</button>
	<button type="button" on:click={incrementSetting}>Undoable</button>
	<button type="button" on:click={incrementAppearance}>Preservable</button>
	<button type="button" on:click={incrementBoth}>Both</button>
	<button type="button" on:click={undo} disabled={!$canUndo} title={get(undoDescription)}>
		Undo
	</button>
	<button type="button" on:click={redo} disabled={!$canRedo} title={get(redoDescription)}>
		Redo
	</button>
</main>

<style>
</style>